/*
# -- BEGIN LICENSE BLOCK ---------------------------------------
#
# Copyright (c) 2014 Sylvaiin Killian
# Licensed under the GPL version 2.0 license.
# See LICENSE file or
# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#
# -- END LICENSE BLOCK -----------------------------------------
*/

/* Common styles
-------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

a {
    color: #cfcfcf;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #cfcfcf;
    text-decoration: none;
}

a img {
    border: none;
}

pre {
    white-space: pre;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

ul, ul li {
    list-style: none;
}

/* page
-------------------------------------------------------- */
html {
}

body {
    color: #cfcfcf;
    font: 0.9em 'Open Sans', sans-serif;
    background-color: #222022;
}

#page {
    padding: 5px;
}

/* header
-------------------------------------------------------- */
#header {
    width: 100%;
}

@-webkit-keyframes headerIn {
}

@keyframes headerIn {
}

#header.first {
}

#title {
    max-width: 337px;
}

#blogtitle {
    display: none;
}

#titlepic {
    width: 100%;
}

#blogdesc {
    width: 100%;
    text-shadow: 1px 1px 1px #000000;
    padding-bottom: 20px;
}

#twitter {
    width: 100%;
    padding-bottom: 20px;
}

#guillemet_entrant {
    display: none;
}

#guillemet_sortant {
    display: none;
}

#twit {
}


/* footer
-------------------------------------------------------- */
#footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer.first {
}

ul.simple-menu {
    clear: both;
    width: 100%;
}

ul.top {
    margin-bottom: 30px;
}

h3.menu {
    width: 100%;
    padding-bottom: 4px;
    font: 1em 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-shadow: 2px 2px 1px #000000;
    color: #999999;
}

#menu li {
    text-shadow: 1px 1px 1px #222022;
}

#menu a {
    color: #878787;
}

#menu .active a {
    color: #ffffff;
    text-shadow: 1px 1px 1px #222022, 0px 0px 4px #ffffff;
}

#contact {
    margin-top: 40px;
    text-align: center;
}

#contact p {
    margin-bottom: 4px;
    color: #878787;
}

#contact a {
    text-decoration: underline;
    color: #878787;
}

/* framing
-------------------------------------------------------- */
#main {
    width: 100%;
}

@-webkit-keyframes sceneIn {
}

@keyframes sceneIn {
}

#main.first {
}

#scene {
    width: 100%;
}

@-webkit-keyframes sceneIn {
}

@keyframes sceneIn {
}

#scene.first {
}

#controls {
    display: none;
}

#controls a {
    display: none;
}

#scroll_up {
}

#scroll_down {
}

#audio {
}

#screen {
    width: 100%;
}

@-webkit-keyframes contentIn {
}

@keyframes contentIn {
}

#content_wrap {
    width: 100%;
}

#content_scroller {
}

#content {
    width: 100%;
    padding-bottom: 10px;
}

#content_mask_upper {
    display: none;
}

#content_mask_lower {
    display: none;
}

@-webkit-keyframes contentInFirst {
}

@keyframes contentInFirst {
}

#content.first {
}

/* generic content classes
-------------------------------------------------------- */
.content_header {
    margin-top: 14px;
}

.content_title {
}

.content_title h1 {
    width: 100%;
    padding-bottom: 14px;
    font: 2em 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-shadow: 2px 2px 1px #000000;
    color: #999999;
}

.content_intro p {
    text-align: justify;
    font: 1em 'Droid Serif', serif;
    margin-bottom: 14px;
}

/* presentation
-------------------------------------------------------- */
.bio-content p {
    width: 100%;
    text-align: justify;
    margin-bottom: 12px;
    font: 1em 'Droid Serif', serif;
}

em {
    font-weight: normal;
    font-style: italic;
    text-shadow: 1px 1px 1px #222022;
}

strong {
    font-weight: normal;
    font-style: normal;
    color: #96bec8;
    text-shadow: 1px 1px 1px #222022;
}

.bio-content a {
    text-decoration: underline;
    text-shadow: 1px 1px 1px #222022;
}

/* avenir
-------------------------------------------------------- */
table.avenir_table {
    width: 100%;
    border: 0px;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 40px;
    font: 0.85em 'Open Sans', sans-serif;
}

.avenir_table th {
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 6px;
    font-weight: normal;
    font-style: normal;
    color: #878787;
    text-align: left;
    vertical-align: top;
    border-top: solid 1px #878787;
    border-bottom: solid 1px #878787;
    text-shadow: 1px 1px 1px #222022;
}

.avenir_table td {
    height: 30px;
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    vertical-align: top;
    border-bottom: solid 1px #878787;
}

.avenir_tab1_col1 {
}

.avenir_tab1_col2 {
}

.avenir_tab1_col3 {
}

.avenir_tab1_col4 {
}

.avenir_table tr > td:first-child {
} /* first column */

.avenir_table tr > td:first-child + td + td {
    font-weight: normal;
    font-style: italic;
} /* third column */

.avenir_summary {
    font: 1.4em 'Droid Serif', serif;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 4px;
}

.avenir_date {
    color: #878787;
    font: 0.9em 'Droid Serif', serif;
    font-style: italic;
    text-shadow: 1px 1px 1px #222022;
}

.avenir_location {
    color: #878787;
    font: 0.9em 'Droid Serif', serif;
    padding-bottom: 16px;
}

div.avenir_image {
    background-color: #222022;
    box-shadow: 1px 1px 5px #888888;
    margin: 0 0 4px 0;
    width: 80px;
    height: 80px;
}

.avenir_image .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.avenir_image img {
    width: 80px;
    height: 80px;
    vertical-align: middle;
}

.avenir_description {
    padding-bottom: 16px;
    padding-bottom: 6px;
    float: left;
}

.avenir_link {
    padding-bottom: 16px;
    clear: both
}

.avenir_link_itself {
    color: #878787;
    text-decoration: underline;
}

a.avenir_link_itself:hover, a.avenir_link_itself:active, a.avenir_link_itself:focus {
    color: #878787;
    text-decoration: underline;
}
/* repertoire
-------------------------------------------------------- */
p.repertoire_title {
    color: #878787;
    font-weight: normal;
    font-style: normal;
    padding-left: 4px;
    padding-bottom: 10px;
    font: 1em 'Droid Serif', serif;
    text-shadow: 1px 1px 1px #222022;
}

table.repertoire_table {
    width: 100%;
    border: 0px;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 40px;
    font: 0.9em 'Open Sans', sans-serif;
}

.repertoire_table th {
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 6px;
    font-weight: normal;
    font-style: normal;
    color: #878787;
    text-align: left;
    vertical-align: top;
    border-top: solid 1px #878787;
    border-bottom: solid 1px #878787;
    text-shadow: 1px 1px 1px #222022;
}

.repertoire_table td {
    height: 30px;
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    vertical-align: top;
    border-bottom: solid 1px #878787;
}

.repertoire_tab1_col1 {
}

.repertoire_tab1_col2 {
}

.repertoire_tab1_col3 {
}

.repertoire_table tr > td:first-child {
} /* first column */

.repertoire_table tr > td:first-child + td {
    font-weight: normal;
    font-style: italic;
} /* second column */

.repertoire_tab2_col1 {
}

.repertoire_tab2_col2 {
}

/* liens
-------------------------------------------------------- */
div.lien_section {
    overflow: hidden;
    padding: 5px 10px;
    height: 140px;
}

.lien_section a {
}

div.lien_image {
    background-color: #222022;
    margin: 0 auto 4px auto;
}

.helper {
}

.lien_image img {
    max-width: 80px;
    max-height: 80px;
    vertical-align: middle;
}

.lien_title {
    font: 0.95em 'Open Sans', sans-serif;
    padding-bottom: 2px;
    color: #96bec8;
    text-shadow: 1px 1px 1px #222022;
}

.lien_description {
    font: 0.85em 'Open Sans', sans-serif;
}


/* presse
-------------------------------------------------------- */
.presse p {
    width: 100%;
    padding-bottom: 30px;
    text-align: justify;
}

.presse strong {
    text-shadow: 0px 0px 0px;
    font: 0.85em 'Open Sans', sans-serif;
}

.presse em {
    text-shadow: 0px 0px 0px;
    padding-bottom: 8px;
    font: 1em 'Droid Serif', serif;
    font-style: italic;
}

.presse em::before {
    content: '"';
}

.presse em::after {
    content: '"';
}

/* photos
-------------------------------------------------------- */
div.photo_section {
    display: inline;
    overflow: hidden;
    float: left;
    padding: 5px 2px 5px 2px;
    width: 102px;
    height: 150px;
    text-align: center;
}

.photo_section a {
    display: block;
    width: 100%;
    height: 100%;
}

div.photo_image {
    background-color: #222022;
    box-shadow: 1px 1px 5px #888888;
    margin: 0 auto 4px auto;
    width: 80px;
    height: 80px;
}

.photo_image .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.photo_image img {
    width: 48px;
    height: 48px;
    vertical-align: middle;
}

.photo_title {
    font: 0.85em 'Open Sans', sans-serif;
    padding-bottom: 2px;
    color: #96bec8;
    text-shadow: 1px 1px 1px #222022;
}

.photo_date::before {
    content: " [";
}

.photo_date::after {
    content: "]";
}

.photo_role {
    font: 0.85em 'Open Sans', sans-serif;
}

.photo_role::before {
    content: " (";
}

.photo_role::after {
    content: ")";
}

/* panel
-------------------------------------------------------- */
#panel {
    clear: both;
    overflow: hidden;
    padding-top: 40px;
    color: #222022;
}

#prochainement_title {
    width: 100%;
    padding-bottom: 4px;
    font: 1em 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-shadow: 2px 2px 1px #000000;
    color: #999999;
}

#prochainement_content {
    width: 100%;
    font: 0.85em 'Open Sans', sans-serif;
    color: #cfcfcf;
    overflow: hidden;
}

#prochainement_content a {
    text-decoration: underline;
    color: #cfcfcf;
}

#prochainement_content img {
    max-width: 140px;
    max-height: 110px;
    background: #222022;
    padding: 2px;
}

#prochainement_content em {
    font-weight: bold;
    font-style: italic;
    color: #cfcfcf;
}

#prochainement_content strong {
    font-weight: bold;
    font-style: normal;
    color: #cfcfcf;
}

/* misc.
-------------------------------------------------------- */
.dotclear p {
    padding-top: 20px;
    font: 0.85em 'Open Sans', sans-serif;
    color: #878787;
}
