/*
# -- BEGIN LICENSE BLOCK ---------------------------------------
#
# Copyright (c) 2014 Sylvaiin Killian
# Licensed under the GPL version 2.0 license.
# See LICENSE file or
# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#
# -- END LICENSE BLOCK -----------------------------------------
*/

/* Common styles
-------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

a {
    color: #cfcfcf;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #cfcfcf;
    text-decoration: none;
}

a img {
    border: none;
}

pre {
    white-space: pre;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

ul, ul li {
    list-style: none;
}

/* page
-------------------------------------------------------- */
html {
    height:100%;
}

body {
    color: #cfcfcf;
    font: 0.9em 'Open Sans', sans-serif;
    height:100%;
    background-color: #000000;
}

#floater {
    float: left;
    height: 40%;
    margin-bottom: -308px;
}

#background {
    position: relative;
    display: block;
    background: #000000 url('../img/background.png') no-repeat center bottom;
    top: 0px;
    width: 100%;
    height: 770px;
    clear: both;
}

#page {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    width: 890px;
    height: 770px;
    clear: both;
}

/* header
-------------------------------------------------------- */
#header {
    z-index: 2000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 890px;
    height: 130px;
    padding-bottom: 20px;
}

@-webkit-keyframes headerIn {
    0%   { opacity:0; }
    96%  { opacity:0; }
    100% { opacity:1; }
}

@keyframes headerIn {
    0%   { opacity:0; }
    96%  { opacity:0; }
    100% { opacity:1; }
}

#header.first {
    -webkit-animation: headerIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 5.4s;
    animation: headerIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 5.4s;
}

#title {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 337px;
    height: 100px;
    margin-top: 30px;
    color: #878787;
}

#titlepic {
    width: 100%;
}

#blogtitle {
    display: none;
}

#blogdesc {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 200px;
    height: 30px;
    text-shadow: 1px 1px 1px #000000;
}

#twitter {
    position: absolute;
    top: 0px;
    left: 430px;
    width: 500px;
    height: 115px;
    margin-top: 10px;
}

div.twitter-no-show {
    width: 350px;
    margin-left: 10px;
    margin-top: 10px;
}

#guillemet_entrant {
    position: absolute;
    top: -10px;
    left: 0px;
    width: 60px;
    height: 120px;
    background: transparent url('../img/guillemets_entrant.png') no-repeat left top;
    z-index: 1;
    pointer-events: none;
}

#guillemet_sortant {
    position: absolute;
    top: 28px;
    left: 390px;
    width: 60px;
    height: 120px;
    background: transparent url('../img/guillemets_sortant.png') no-repeat left top;
    z-index: 1;
    pointer-events: none;
}

#twit {
    position: absolute;
    top: 0px;
    left: 30px;
    height: 120px;
    z-index: 0;
    overflow: hidden;
}

/* footer
-------------------------------------------------------- */
#footer {
    z-index: 2001;
    position: absolute;
    top: 660px;
    left: 0px;
    width: 890px;
    height: 120px;
}

#footer.first {
    -webkit-animation: headerIn ease-in 1;
    -webkit-nimation-fill-mode: forwards;
    -webkit-animation-duration: 5.4s;
    animation: headerIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 5.4s;
}

#menu_top {
    z-index: 5000;
    position: absolute;
    top: 140px;
    left: 158px;
    width: 580px;
    height: 30px;
}

h3.menu {
    display: none;
}

ul.simple-menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 0px;
    width: 570px;
    padding-left: 5px;
}

#menu li {
    text-shadow: 1px 1px 1px #222022;
}

#menu a {
    color: #878787;
}

#menu .active a {
    color: #ffffff;
    text-shadow: 1px 1px 1px #222022, 0px 0px 4px #ffffff;
}

#contact {
    margin-top: 40px;
    text-align: center;
}

#contact p {
    margin-bottom: 4px;
    color: #878787;
}

#contact a {
    text-decoration: underline;
    color: #878787;
}

/* framing
-------------------------------------------------------- */
#main {
    position: absolute;
    top: 160px;
    left: 0px;
    width: 890px;
    height: 533px;
    background: transparent url('../img/scene_empty.png') no-repeat left top;
}

@-webkit-keyframes sceneIn {
    0%   { opacity:0; }
  100%   { opacity:1; }
}

@keyframes sceneIn {
    0%   { opacity:0; }
  100%   { opacity:1; }
}

#main.first {
    -webkit-animation: sceneIn ease-out 1;
    -webkit-nimation-fill-mode: forwards;
    -webkit-animation-duration: 2.4s;
    animation: sceneIn ease-out 1;
    animation-fill-mode: forwards;
    animation-duration: 2.4s;
}

#scene {
    position: absolute;
    top: 1px;
    left: 0px;
    width: 890px;
    height: 533px;
    background: transparent url('../img/scene.png') no-repeat left top;
}

@-webkit-keyframes sceneIn {
    0%   { opacity:0; }
   86%   { opacity:0; }
  100%   { opacity:1; }
}

@keyframes sceneIn {
    0%   { opacity:0; }
   86%   { opacity:0; }
  100%   { opacity:1; }
}

#scene.first {
    -webkit-animation: sceneIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 4.4s;
    animation: sceneIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 4.4s;
}

#controls {
    position: absolute;
    display: block;
    top: 365px;
    left: 256px;
    height: 20px;
    width: 78px;
}

#controls a {
    display: block;
    height: 100%;
    width: 100%;
}

#scroll_up {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
}

#scroll_down {
    position: absolute;
    display: block;
    top: 0px;
    left: 58px;
    width: 20px;
    height: 20px;
}

#audio {
    position: absolute;
    display: block;
    top: 0px;
    left: 25px;
    width: 28px;
    height: 20px;
    background: url("../img/controls.png") -80px 0 no-repeat;
}

#screen {
    position: absolute;
    top: 1px;
    left: 158px;
    width: 580px;
    height: 393px;
}

@-webkit-keyframes contentIn {
    0%   { opacity:0; top:100px }
    70%  { opacity:0; top:60px  }
    100% { opacity:1; top:50px  }
}

@keyframes contentIn {
    0%   { opacity:0; top:100px }
    70%  { opacity:0; top:60px  }
    100% { opacity:1; top:50px  }
}

#content_wrap {
    position: absolute;
    top: 50px;
    left: 135px;
    width: 320px;
    height: 293px;
    overflow: hidden;
}

#content_scroller {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 293px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    padding-bottom: 10px;
    -webkit-animation: contentIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 0.8s;
    animation: contentIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
}

#content_mask_upper {
    position: absolute;
    top: 0px;
    left: 135px;
    height: 60px;
    width: 320px;
    pointer-events: none;
    background: transparent url('../img/scene_mask.png') no-repeat -270px -1px;
}

#content_mask_lower {
    position: absolute;
    top: 333px;
    left: 135px;
    height: 60px;
    width: 320px;
    pointer-events: none;
    background: transparent url('../img/scene_mask.png') no-repeat -270px -333px;
}

@-webkit-keyframes contentInFirst {
    0%   { opacity:0; top:100px }
    80%  { opacity:0; top:100px }
    90%  { opacity:0; top:60px  }
    100% { opacity:1; top:50px  }
}

@keyframes contentInFirst {
    0%   { opacity:0; top:100px }
    80%  { opacity:0; top:100px }
    90%  { opacity:0; top:60px  }
    100% { opacity:1; top:50px  }
}

#content.first {
    -webkit-animation: contentInFirst ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 7s;
    animation: contentInFirst ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 7s;
}

/* generic content classes
-------------------------------------------------------- */
.content_header {
}

.content_title {
    height: 60px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.content_title h1 {
    font-weight: bold;
    font-style: normal;
    font: 4em Tangerine, cursive, sans-serif;
    color: #cfcfcf;
    text-shadow: 1px 1px 1px #222022;
}

.content_intro p {
    text-align: justify;
    font: 1em 'Droid Serif', serif;
    margin-bottom: 40px;
}

/* presentation
-------------------------------------------------------- */
.bio-content p {
    width: 100%;
    text-align: justify;
    margin-bottom: 12px;
    font: 1em 'Droid Serif', serif;
}

em {
    font-weight: normal;
    font-style: italic;
    text-shadow: 1px 1px 1px #222022;
}

strong {
    font-weight: normal;
    font-style: normal;
    color: #96bec8;
    text-shadow: 1px 1px 1px #222022;
}

.bio-content a {
    text-decoration: underline;
    text-shadow: 1px 1px 1px #222022;
}

/* avenir
-------------------------------------------------------- */
table.avenir_table {
    border: 0px;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 40px;
    font: 0.85em 'Open Sans', sans-serif;
    width: 100%;
}

.avenir_table th {
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 6px;
    font-weight: normal;
    font-style: normal;
    color: #878787;
    text-align: left;
    vertical-align: top;
    border-top: solid 1px #878787;
    border-bottom: solid 1px #878787;
    text-shadow: 1px 1px 1px #222022;
}

.avenir_table td {
    height: 30px;
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    vertical-align: top;
    border-bottom: solid 1px #878787;
}

.avenir_tab1_col1 {
    width: 50px;
}

.avenir_tab1_col2 {
    width: 100px;
}

.avenir_tab1_col3 {
    width: 120px;
}

.avenir_tab1_col4 {
    width: 50px;
}

.avenir_table tr > td:first-child {
} /* first column */

.avenir_table tr > td:first-child + td + td {
    font-weight: normal;
    font-style: italic;
} /* third column */

.avenir_summary {
    font: 1.4em 'Droid Serif', serif;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 4px;
}

.avenir_date {
    color: #878787;
    font: 0.9em 'Droid Serif', serif;
    font-style: italic;
    text-shadow: 1px 1px 1px #222022;
}

.avenir_location {
    color: #878787;
    font: 0.9em 'Droid Serif', serif;
    padding-bottom: 16px;
}

div.avenir_image {
    background-color: #222022;
    box-shadow: 1px 1px 5px #888888;
    margin: 0 auto 4px auto;
    width: 80px;
    height: 80px;
    float: right;
}

.avenir_image .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.avenir_image img {
    width: 80px;
    height: 80px;
    vertical-align: middle;
}

.avenir_description {
    padding-bottom: 16px;
    padding-bottom: 6px;
    float: left;
}

.avenir_link {
    padding-bottom: 16px;
    clear: both
}

.avenir_link_itself {
    color: #878787;
    text-decoration: underline;
}

a.avenir_link_itself:hover, a.avenir_link_itself:active, a.avenir_link_itself:focus {
    color: #878787;
    text-decoration: underline;
}

/* repertoire
-------------------------------------------------------- */
p.repertoire_title {
    color: #878787;
    font-weight: normal;
    font-style: normal;
    padding-left: 4px;
    padding-bottom: 10px;
    font: 1em 'Droid Serif', serif;
    text-shadow: 1px 1px 1px #222022;
}

table.repertoire_table {
    border: 0px;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 40px;
    font: 0.9em 'Open Sans', sans-serif;
}

.repertoire_table th {
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 6px;
    font-weight: normal;
    font-style: normal;
    color: #878787;
    text-align: left;
    vertical-align: top;
    border-top: solid 1px #878787;
    border-bottom: solid 1px #878787;
    text-shadow: 1px 1px 1px #222022;
}

.repertoire_table td {
    height: 30px;
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    vertical-align: top;
    border-bottom: solid 1px #878787;
}

.repertoire_tab1_col1 {
    width: 80px;
}

.repertoire_tab1_col2 {
    width: 150px;
}

.repertoire_tab1_col3 {
    width: 90px;
}

.repertoire_table tr > td:first-child {
} /* first column */

.repertoire_table tr > td:first-child + td {
    font-weight: normal;
    font-style: italic;
} /* second column */

.repertoire_tab2_col1 {
    width: 80px;
}

.repertoire_tab2_col2 {
    width: 240px;
}

/* liens
-------------------------------------------------------- */
div.lien_section {
    display: inline;
    overflow: hidden;
    float: left;
    padding: 5px 10px;
    width: 140px;
    height: 180px;
    text-align: center;
}

.lien_section a {
    display: block;
    width: 100%;
    height: 100%;
}

div.lien_image {
    border: solid 1px black;
    background-color: #222022;
    margin: 0 auto 4px auto;
    width: 80px;
    height: 80px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.lien_image img {
    max-width: 80px;
    max-height: 80px;
    vertical-align: middle;
}

.lien_title {
    font: 0.95em 'Open Sans', sans-serif;
    padding-bottom: 2px;
    color: #96bec8;
    text-shadow: 1px 1px 1px #222022;
}

.lien_description {
    font: 0.85em 'Open Sans', sans-serif;
}


/* presse
-------------------------------------------------------- */
.presse p {
    width: 100%;
    padding-bottom: 30px;
    text-align: justify;
}

.presse strong {
    text-shadow: 0px 0px 0px;
    font: 0.85em 'Open Sans', sans-serif;
}

.presse em {
    text-shadow: 0px 0px 0px;
    padding-bottom: 8px;
    font: 1em 'Droid Serif', serif;
    font-style: italic;
}

.presse em::before {
    content: '"';
}

.presse em::after {
    content: '"';
}

/* photos
-------------------------------------------------------- */
div.photo_section {
    display: inline;
    overflow: hidden;
    float: left;
    padding: 5px 2px 5px 2px;
    width: 102px;
    height: 150px;
    text-align: center;
}

.photo_section a {
    display: block;
    width: 100%;
    height: 100%;
}

div.photo_image {
    background-color: #222022;
    box-shadow: 1px 1px 5px #888888;
    margin: 0 auto 4px auto;
    width: 80px;
    height: 80px;
}

.photo_image .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.photo_image img {
    width: 48px;
    height: 48px;
    vertical-align: middle;
}

.photo_title {
    font: 0.85em 'Open Sans', sans-serif;
    padding-bottom: 2px;
    color: #96bec8;
    text-shadow: 1px 1px 1px #222022;
}

.photo_date::before {
    content: " [";
}

.photo_date::after {
    content: "]";
}

.photo_role {
    font: 0.85em 'Open Sans', sans-serif;
}

.photo_role::before {
    content: " (";
}

.photo_role::after {
    content: ")";
}

/* panel
-------------------------------------------------------- */
#panel {
    position: absolute;
    overflow: hidden;
    top: 244px;
    left: 660px;
    width: 168px;
    height: 198px;
    color: #cfcfcf;
}

#prochainement_content {
    width: 100%;
    text-align: center;
}

#prochainement_title {
    width: 100%;
    padding-bottom: 12px;
    text-align: center;
    font: 1em 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-shadow: 2px 2px 1px #000000;
    color: #999999;
}

.prochainement_summary {
    text-align: center;
    font: 1em 'Droid Serif', serif;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
    text-shadow: 1px 1px 1px #222022;
}

.prochainement_date {
    font: 0.8em 'Droid Serif', serif;
    font-style: italic;
    text-shadow: 1px 1px 1px #222022;
}

div.prochainement_image {
    background-color: #222022;
    box-shadow: 1px 1px 5px #888888;
    margin: 0 auto 6px auto;
    width: 80px;
    height: 80px;
}

.prochainement_image .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.prochainement_image img {
    width: 80px;
    height: 80px;
    vertical-align: middle;
}

.prochainement_link {
    text-align: center;
    padding-bottom: 16px;
}

.prochainement_link_itself {
    font: 0.8em 'Droid Serif', serif;
    text-decoration: underline;
}

a.prochainement_link_itself:hover, a.prochainement_link_itself:active, a.prochainement_link_itself:focus {
    font: 0.8em 'Droid Serif', serif;
    text-decoration: underline;
}


/* misc.
-------------------------------------------------------- */
.dotclear p {
    clear: both;
    padding-top: 20px;
    text-align: right;
    font: 0.85em 'Open Sans', sans-serif;
    color: #878787;
}
