<div id="content" class="<tpl:SysIf current_mode="default">first </tpl:SysIf>audio">
<tpl:Entries url="audio" no_context="1">
    <div class="content_header">
        <div class="content_title">
            <h1>{{tpl:EntryTitle}}</h1>
        </div>
        <tpl:EntryIf extended="1">
        <div class="content_intro">
            <p>{{tpl:EntryExcerpt}}</p>
        </div>
        </tpl:EntryIf>
    </div>
    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
    <div id="jp_container_1" class="jp-audio">
        <div class="jp-type-playlist">
            <div class="jp-playlist">
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="jp-no-solution">
                Votre navigateur ne peut pas jouer ce contenu. Mettez-le à jour pour écouter les titres.
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var audioPlaying = false;
    function screen_ready() {
        new jPlayerPlaylist({
            jPlayer: "#jquery_jplayer_1",
            cssSelectorAncestor: "#jp_container_1"
        }, [
            <?php
                $contentstr = {{tpl:EntryStringContent remove_html="1"}};
                if (eval("\$tableau = [".$contentstr."];return 1;") != 1) {
                    echo '{';
                    echo 'title: "Le billet \"audio\" contient des erreurs.",';
                    echo '},';
                } else {
                    foreach($tableau as $ligne) {
                        echo '{';
                        $affiche = '<div class=\"affiche\"><span class=\"composer\">';
                        tplSceneTheme::EntryGetValue($ligne, 'compositeur', "", $val);
                        $affiche .= $val;
                        $affiche .= '</span>';

                        $affiche .= '<span class=\"piece\">';
                        tplSceneTheme::EntryGetValue($ligne, 'oeuvre', "", $val);
                        $affiche .= $val;
                        $affiche .= '</span>';

                        $affiche .= '<span class=\"title\">';
                        tplSceneTheme::EntryGetValue($ligne, 'titre', "", $val);
                        $affiche .= $val;
                        $affiche .= '</span>';

                        $affiche .= '<span class=\"date\">';
                        tplSceneTheme::EntryGetValue($ligne, 'date', "", $val);
                        $affiche .= $val;
                        $affiche .= '</span></div>';

                        echo 'title: "'.$affiche.'",';
                        if (tplSceneTheme::EntryGetValue($ligne, 'mp3', "", $val) && $val) {
                            echo 'mp3: "'.{{tpl:publicURL}}.'/audio/'.$val.'",';
                        }
                        if (tplSceneTheme::EntryGetValue($ligne, 'ogg', "", $val) && $val) {
                            echo 'oga: "'.{{tpl:publicURL}}.'/audio/'.$val.'"';
                        }
                        echo '},';
                    }
                }
            ?>
        ], {
            swfPath: "{{tpl:BlogThemeURL}}/js",
            supplied: "mp3, oga",
            wmode: "window",
            smoothPlayBar: true,
            volume: 1,
            keyEnabled: false,
            play: function() {
                $('#audio').css("background", "url('{{tpl:BlogThemeURL}}/img/controls.png') -110px 0 no-repeat");
                audioPlaying = true;
            },
        });
        $('#audio').click(function(){
            if (audioPlaying) {
                $('#audio').css("background", "url('{{tpl:BlogThemeURL}}/img/controls.png') -80px 0 no-repeat");
                $("#jquery_jplayer_1").jPlayer("pause");
                audioPlaying = false;
            } else {
                $('#audio').css("background", "url('{{tpl:BlogThemeURL}}/img/controls.png') -110px 0 no-repeat");
                $("#jquery_jplayer_1").jPlayer("play");
                audioPlaying = true;
            }
        });
    }
</script>
</tpl:Entries>
