<div id="content" class="<tpl:SysIf current_mode="default">first </tpl:SysIf>avenir">
<tpl:Entries url="avenir" no_context="1">
    <div class="content_header">
        <div class="content_title">
            <h1>{{tpl:EntryTitle}}</h1>
        </div>
        <tpl:EntryIf extended="1">
        <div class="content_intro">
            <p>{{tpl:EntryExcerpt}}</p>
        </div>
        </tpl:EntryIf>
    </div>
    {{tpl:include src="__calendar.html"}}
</tpl:Entries>
</div>

<script type="text/javascript">
    function screen_ready() {
        $('.avenir_image').magnificPopup({
            type: 'image', // default
            disableOn: 749,
            mainClass: 'mfp-fade',
            // Delay in milliseconds before popup is removed
            removalDelay: 300,
            showCloseBtn: true,
            closeOnContentClick: true,
            prependTo: $('#popup'),
            enableEscapeKey: true,
            tClose: 'fermer'
        });
    }
</script>
