<div id="content" class="<tpl:SysIf current_mode="default">first </tpl:SysIf>photo">
<tpl:Entries url="photo" no_context="1">
    <div class="content_header">
        <div class="content_title">
            <h1>{{tpl:EntryTitle}}</h1>
        </div>
        <tpl:EntryIf extended="1">
        <div class="content_intro">
            <p>{{tpl:EntryExcerpt}}</p>
        </div>
        </tpl:EntryIf>
    </div>
    <?php
        $contentstr = {{tpl:EntryStringContent remove_html="1"}};
        if (eval("\$tableau = [".$contentstr."];return 1;") != 1) {
            echo "Le billet 'photo' contient des erreurs.";
        } else {
            foreach($tableau as $ligne) {
                if (tplSceneTheme::EntryGetValue($ligne, 'photo', "", $photo) && $photo) {
                    tplSceneTheme::EntryGetValue($ligne, 'oeuvre', "sans titre", $oeuvre);
                    $titre = $oeuvre;
                    if (tplSceneTheme::EntryGetValue($ligne, 'role', "", $role) && $role) {
                        $titre = $titre.' ('.$role.')';
                    }
                    $titre = $titre."<br>";
                    if (tplSceneTheme::EntryGetValue($ligne, 'commentaire', "", $comment) && $comment) {
                        $titre = $titre.$comment;
                    }
                    if (tplSceneTheme::EntryGetValue($ligne, 'date', "", $date) && $date) {
                        $titre = $titre.' ['.$date.']';
                    }
                    $photo_sq = '.'.str_replace(".jpg", "_sq.jpg", $photo);
                    echo '<div class="photo_section">';
                    echo '<a href="'.{{tpl:publicURL}}.'/photo/'.$photo.'" title="'.$titre.'" class="photo_entry">';
                    echo '<div class="photo_image"><span class="helper"></span><img src="'.{{tpl:publicURL}}.'/photo/'.$photo_sq.'"></div>';
                    echo '<p class="photo_title">'.$oeuvre.'</p>';
                    if ($role) {
                        echo '<p class="photo_role">'.$role.'</p>';
                    }
                    echo '</a></div>';
                }
            }
        }
    ?>
</tpl:Entries>
</div>

<script type="text/javascript">
    function screen_ready() {
        $('.photo_entry').magnificPopup({
            gallery: {
                enabled: true
            },
            disableOn: 749,
            type: 'image', // default
            mainClass: 'mfp-fade',
            // Delay in milliseconds before popup is removed
            removalDelay: 300,
            showCloseBtn: true,
            closeOnContentClick: true,
            prependTo: $('#popup'),
            enableEscapeKey: true,
            tClose: 'fermer'
        });
    }
</script>
