<div id="content" class="<tpl:SysIf current_mode="default">first </tpl:SysIf>presse">
<div class="presse">
    <div class="content_header">
        <div class="content_title">
            <h1>{{tpl:EntryTitle}}</h1>
        </div>
        <tpl:EntryIf extended="1">
        <div class="content_intro">
            <p>{{tpl:EntryExcerpt}}</p>
        </div>
        </tpl:EntryIf>
    </div>
    <tpl:Entries url="presse" no_context="1">
        {{tpl:EntryContent}}
    </tpl:Entries>
</div>
</div>

<script type="text/javascript">
    function screen_ready() {
    }
</script>

