<div id="content" class="<tpl:SysIf current_mode="default">first </tpl:SysIf>presentation">
<tpl:Entries url="presentation" no_context="1">
    <div class="content_header">
        <div class="content_title">
            <h1>{{tpl:EntryTitle}}</h1>
        </div>
        <tpl:EntryIf extended="1">
        <div class="content_intro">
            <p>{{tpl:EntryExcerpt}}</p>
        </div>
        </tpl:EntryIf>
    </div>
    <div class="bio-content">
        {{tpl:EntryContent}}
    </div>
</tpl:Entries>
</div>

<script type="text/javascript">
    function screen_ready() {
    }
</script>

