<tpl:Entries url="prochainement" no_context="1">
    <h1 id="prochainement_title">
        {{tpl:EntryTitle}}
    </h1>
    <div id="prochainement_content">
        {{tpl:include src="__prochainement.html"}}
    </div>
</tpl:Entries>

<script type="text/javascript">
    function panel_ready() {
        $('.prochainement_image').magnificPopup({
            type: 'image', // default
            disableOn: 749,
            mainClass: 'mfp-fade',
            // Delay in milliseconds before popup is removed
            removalDelay: 300,
            showCloseBtn: true,
            closeOnContentClick: true,
            prependTo: $('#popup'),
            enableEscapeKey: true,
            tClose: 'fermer'
        });
    }
</script>
