<div id="content" class="<tpl:SysIf current_mode="default">first </tpl:SysIf>repertoire">
<tpl:Entries url="repertoire" no_context="1">
    <div class="content_header">
        <div class="content_title">
            <h1>{{tpl:EntryTitle}}</h1>
        </div>
        <tpl:EntryIf extended="1">
        <div class="content_intro">
            <p>{{tpl:EntryExcerpt}}</p>
        </div>
        </tpl:EntryIf>
    </div>
    <?php
        $article = {{tpl:EntryStringContent remove_html="1"}};
        $sections = explode("$", $article);
        $table_num = 0;
        $odd = TRUE;
        foreach($sections as $section) {
            if ($odd) {
                $myclass = $section;
                echo "<p class='repertoire_title'>$section</p>";
                $odd = FALSE;
                $table_num = $table_num + 1;
            } else {
                $lines = explode("%", $section);
                $first = TRUE;
                foreach($lines as $line) {
                    if (strlen(trim($line))) {
                        $cols = explode("|", $line);
                        if ($first) {
                            echo '<table class="repertoire_table">';
                            echo '<colgroup>';
                            for ($i=1; $i<=sizeof($cols) ; $i++) {
                                echo '<col span="1" class="repertoire_tab'.$table_num.'_col'.$i.'">';
                            }
                            echo '</colgroup>';
                            echo '<thead>';
                            echo '<tr>';
                            foreach($cols as $col) {
                                echo '<th scope="col" >'.trim($col).'</th>';
                            }
                            echo ' </tr>';
                            echo '</thead>';
                            echo '<tbody>';
                            $first = FALSE;
                        } else {
                            echo "<tr>";
                            foreach($cols as $col) {
                                echo "<td>".trim($col)."</td>";
                            }
                            echo "</tr>";
                        }
                    }
                }
                echo '</tbody>';
                echo '</table>';
                $odd = TRUE;
            }
        }
    ?>
</tpl:Entries>
</div>

<script type="text/javascript">
    function screen_ready() {
    }
</script>

