<div id="content" class="<tpl:SysIf current_mode="default">first </tpl:SysIf>video">
<tpl:Entries url="video" no_context="1">
    <div class="content_header">
        <div class="content_title">
            <h1>{{tpl:EntryTitle}}</h1>
        </div>
        <tpl:EntryIf extended="1">
        <div class="content_intro">
            <p>{{tpl:EntryExcerpt}}</p>
        </div>
        </tpl:EntryIf>
    </div>
    <?php
        $contentstr = {{tpl:EntryStringContent remove_html="1"}};
        if (eval("\$tableau = [".$contentstr."];return 1;") != 1) {
            echo "Le billet 'video' contient des erreurs.";
        } else {
            foreach($tableau as $ligne) {
                /* see extra youtube player options in magnific popup js */
                tplSceneTheme::EntryGetValue($ligne, 'youtube_id', "", $youtube_id);
                $youtube_url="http://www.youtube.com/watch?v=".$youtube_id;
                tplSceneTheme::EntryGetValue($ligne, 'titre', "sans titre", $titre_short);
                    $titre = $titre_short;
                if (tplSceneTheme::EntryGetValue($ligne, 'oeuvre', "", $oeuvre) && $oeuvre) {
                    $titre = $titre.' - '.$oeuvre;
                }
                if (tplSceneTheme::EntryGetValue($ligne, 'role', "", $role) && $role) {
                    $titre = $titre.' ('.$role.')';
                }
                $titre = $titre."<br>";
                if (tplSceneTheme::EntryGetValue($ligne, 'commentaire', "", $comment) && $comment) {
                    $titre = $titre.$comment;
                }
                if (tplSceneTheme::EntryGetValue($ligne, 'date', "", $date) && $date) {
                    $titre = $titre.' ['.$date.']';
                }
                tplSceneTheme::EntryGetValue($ligne, 'vignette', "", $vignette);
                echo '<div class="photo_section">';
                echo '<a href="'.$youtube_url.'" title="'.$titre.'" class="video_entry">';
                echo '<div class="photo_image"><span class="helper"></span><img src="'.{{tpl:publicURL}}.'/video/'.$vignette.'"></div>';
                echo '<p class="photo_title">'.$oeuvre.'</p>';
                if ($role) {
                    echo '<p class="photo_role">'.$role.'</p>';
                }
                echo '</a></div>';
            }
        }
    ?>
</tpl:Entries>
</div>

<script type="text/javascript">
    function screen_ready() {
        $('.video_entry').magnificPopup({
            disableOn: 749,
            preloader: false,
            fixedContentPos: false,
            gallery: {
                enabled: true
            },
            type: 'iframe',
            mainClass: 'mfp-fade',
            removalDelay: 300,
            alignTop: true,
            showCloseBtn: false,
            fixedBgPos: 'auto',
            prependTo: $('#popup'),
            enableEscapeKey: true
        });
    }
</script>

