<div id="content" class="<tpl:SysIf current_mode="default">first </tpl:SysIf>web">
<tpl:Entries url="web" no_context="1">
    <div class="content_header">
        <div class="content_title">
            <h1>{{tpl:EntryTitle}}</h1>
        </div>
        <tpl:EntryIf extended="1">
        <div class="content_intro">
            <p>{{tpl:EntryExcerpt}}</p>
        </div>
        </tpl:EntryIf>
    </div>
    <?php
        $contentstr = {{tpl:EntryStringContent remove_html="1"}};
        if (eval("\$tableau = [".$contentstr."];return 1;") != 1) {
            echo "Le billet 'web' contient des erreurs.";
        } else {
            foreach($tableau as $ligne) {
                tplSceneTheme::EntryGetValue($ligne, 'lien', "", $val);
                tplSceneTheme::EntryGetValue($ligne, 'titre', "sans titre", $titre);
                echo '<div class="lien_section">';
                echo '<a href="'.$val.'" title="'.$titre.'">';
                if (tplSceneTheme::EntryGetValue($ligne, 'image', "", $val)) {
                    echo '<div class="lien_image"><span class="helper"></span><img class="lien_image" src="'.{{tpl:publicURL}}.'/lien/'.$val.'" alt="'.$titre.'"></div>';
                }
                echo '<p class="lien_title">'.$titre.'</p>';
                if (tplSceneTheme::EntryGetValue($ligne, 'description', "", $val)) {
                    echo '<p class="lien_description">'.$val.'</p>';
                }
                echo '</a></div>';
            }
        }
    ?>
</tpl:Entries>

<div class="dotclear">
    <p>{{tpl:SysPoweredBy}}</p>
</div>
</div>

<script type="text/javascript">
    function screen_ready() {
    }
</script>

