<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{tpl:BlogLanguage}}" lang="{{tpl:BlogLanguage}}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="ROBOTS" content="{{tpl:BlogMetaRobots}}" />
    <title>{{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf></title>
    <meta name="description" lang="{{tpl:BlogLanguage}}" content="{{tpl:BlogDescription cut_string="180" encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf>" />
    <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
    <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
    <meta name="date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
    <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
    <meta name="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf>" />
    <meta name="dc.description" lang="{{tpl:BlogLanguage}}" content="{{tpl:BlogDescription encode_html="1"}}" />
    <meta name="dc.language" content="{{tpl:BlogLanguage}}" />
    <meta name="dc.publisher" content="{{tpl:BlogEditor encode_html="1"}}" />
    <meta name="dc.rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
    <meta name="dc.date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
    <meta name="dc.type" content="text" />
    <meta name="dc.format" content="text/html" />
    <tpl:Categories>
        <link rel="section" href="{{tpl:CategoryURL}}" title="{{tpl:CategoryTitle encode_html="1"}}" />
    </tpl:Categories>
    <!-- media queries -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- compat media queries -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine|Droid+Serif:400,400italic|Open+Sans">
    <link rel="stylesheet" type="text/css" href="{{tpl:BlogThemeURL}}/css/style.css" media="(min-width: 750px)" />
    <link rel="stylesheet" type="text/css" href="{{tpl:BlogThemeURL}}/css/style_small_screen.css" media="(max-width: 749px)" />
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{{tpl:BlogThemeURL}}/css/magnific-popup.css">

    <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- the mousewheel plugin - optional to provide mousewheel support -->
    <script type="text/javascript" src="{{tpl:BlogThemeURL}}/js/jquery.mousewheel.js"></script>

    <!-- the jPlayer script -->
    <link type="text/css" href="{{tpl:BlogThemeURL}}/css/jplayer.css" rel="stylesheet" media="all" />
    <script type="text/javascript" src="{{tpl:BlogThemeURL}}/js/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="{{tpl:BlogThemeURL}}/js/jquery.jplayer.playlist.min.js"></script>

</head>

<body>
    <div id="floater"></div>
    <div id="background">
    <div id="page">

        <div id="header"
            <tpl:SysIf current_mode="default">
                class="first"
            </tpl:SysIf>
        >
            <div id="title">
                <h1 id="blogtitle">{{tpl:BlogName}}</h1>
                <img id="titlepic" src="{{tpl:BlogThemeURL}}/img/marc_souchet.png" alt="{{tpl:BlogName}}">
                <p id="blogdesc">{{tpl:BlogDescription}}</p>
            </div> <!-- End #title -->

        <div id="menu_top">
            <h3 class="menu">MENU</h3>
            {{tpl:SimpleMenu id="menu" description="title"}}
            <tpl:SysIf current_mode="404">
                <script type="text/javascript">$(".li1").addClass('active');</script>
            </tpl:SysIf>
            <tpl:SysIf current_mode="default">
                <script type="text/javascript">$(".li1").addClass('active');</script>
            </tpl:SysIf>
            <tpl:SysIf current_mode="post">
                <tpl:EntryIf url="presentation">
                    <script type="text/javascript">$(".li1").addClass('active');</script>
                </tpl:EntryIf>
                <tpl:EntryIf url="repertoire">
                    <script type="text/javascript">$(".li2").addClass('active');</script>
                </tpl:EntryIf>
                <tpl:EntryIf url="video">
                    <script type="text/javascript">$(".li3").addClass('active');</script>
                </tpl:EntryIf>
                <tpl:EntryIf url="audio">
                    <script type="text/javascript">$(".li4").addClass('active');</script>
                </tpl:EntryIf>
                <tpl:EntryIf url="photo">
                    <script type="text/javascript">$(".li5").addClass('active');</script>
                </tpl:EntryIf>
                <tpl:EntryIf url="presse">
                    <script type="text/javascript">$(".li6").addClass('active');</script>
                </tpl:EntryIf>
                <tpl:EntryIf url="avenir">
                    <script type="text/javascript">$(".li7").addClass('active');</script>
                </tpl:EntryIf>
                <tpl:EntryIf url="web">
                    <script type="text/javascript">$(".li8").addClass('active');</script>
                </tpl:EntryIf>
            </tpl:SysIf>
        </div>

        <!-- # --BEHAVIOR-- publicTopAfterContent -->
            {{tpl:SysBehavior behavior="publicTopAfterContent"}}
        </div> <!-- End #header -->

        <div id="main"
            <tpl:SysIf current_mode="default">
                class="first"
            </tpl:SysIf>
        >
            <div id="popup"></div>
            <div id="scene"
                <tpl:SysIf current_mode="default">
                    class="first"
                </tpl:SysIf>
            >
                <div id="screen">
                    <div id="content_wrap">
                    <div id="content_scroller">
                    <tpl:SysIf current_mode="404">
                        <div id="content" class="error">La page demandée n'existe pas.</div>
                    </tpl:SysIf>
                    <tpl:SysIf current_mode="default">
                        <?php
                            tplSceneTheme::get_or_create_schedule();
                        ?>
                        {{tpl:include src="_presentation.html"}}
                    </tpl:SysIf>
                    <tpl:SysIf current_mode="post">
                        <?php
                            tplSceneTheme::get_or_create_schedule();
                        ?>
                        <tpl:EntryIf url="repertoire">
                            {{tpl:include src="_repertoire.html"}}
                        </tpl:EntryIf>
                        <tpl:EntryIf url="video">
                            {{tpl:include src="_video.html"}}
                        </tpl:EntryIf>
                        <tpl:EntryIf url="web">
                            {{tpl:include src="_web.html"}}
                        </tpl:EntryIf>
                        <tpl:EntryIf url="photo">
                            {{tpl:include src="_photo.html"}}
                        </tpl:EntryIf>
                        <tpl:EntryIf url="presentation">
                            {{tpl:include src="_presentation.html"}}
                        </tpl:EntryIf>
                        <tpl:EntryIf url="presse">
                            {{tpl:include src="_presse.html"}}
                        </tpl:EntryIf>
                        <tpl:EntryIf url="audio">
                            {{tpl:include src="_audio.html"}}
                        </tpl:EntryIf>
                        <tpl:EntryIf url="avenir">
                            {{tpl:include src="_avenir.html"}}
                        </tpl:EntryIf>
                    </tpl:SysIf>
                    </div>
                    </div>
                    <div id="content_mask_upper"></div>
                    <div id="content_mask_lower"></div>

                    <div id="controls">
                        <div id="scroll_up"><a href="javascript:;" title="faire défiler"></a></div>
                        <div id="audio">
                            <tpl:EntryIf url="!video">
                                <a href="javascript:;" title="jouer / arrêter la musique"></a>
                            </tpl:EntryIf>
                        </div> <!-- End #audio -->
                        <div id="scroll_down"><a href="javascript:;" title="faire défiler"></a></div>
                    </div> <!-- End #controls -->
                </div> <!-- End #screen -->

                <div id="panel">
                    {{tpl:include src="_prochainement.html"}}
                </div> <!-- End #panel -->
            </div> <!-- End #scene -->
        </div> <!-- End #main -->

        <div id="footer"
            <tpl:SysIf current_mode="default">
                class="first"
            </tpl:SysIf>
        >
            <div id="contact">
                <tpl:Entries url="contacts" no_context="1">
                    {{tpl:EntryContent}}
                </tpl:Entries>
            </div>
        </div> <!-- End #footer -->

        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio jp-audio-hidden">
            <div class="jp-playlist">
                <ul><li></li></ul>
            </div>
        </div>

    </div> <!-- End #page -->
    </div> <!-- End #background -->
    <!-- Magnific Popup core JS file -->
    <script src="{{tpl:BlogThemeURL}}/js/jquery.magnific-popup.min.js"></script>

    <script type="text/javascript">
        <tpl:EntryIf url="!audio">
        var myPlaylist = null;
        <tpl:SysIf current_mode="default">
        var audioPlaying = true;
        {{tpl:else}}
        var audioPlaying = false;
        </tpl:SysIf>
        </tpl:EntryIf>
        $(document).ready(function() {
            screen_ready();
            panel_ready();

            // scroller
            $('#scroll_up').css("background", "url('{{tpl:BlogThemeURL}}/img/controls.png') 0 0 no-repeat");
            $('#scroll_down').css("background", "url('{{tpl:BlogThemeURL}}/img/controls.png') -20px 0 no-repeat");
            $('#scroll_up').on("click", function() {
                scrolled = $('#content_scroller').scrollTop();
                scrolled = scrolled - 260;
                $('#content_scroller').animate({
                    scrollTop: scrolled
                });
            });
            $('#scroll_down').on("click", function() {
                scrolled = $('#content_scroller').scrollTop();
                scrolled = scrolled + 260;
                $('#content_scroller').animate({
                    scrollTop: scrolled
                });
            });

            // audio
            <tpl:EntryIf url="!audio">
            <tpl:EntryIf url="!video">
            myPlaylist = new jPlayerPlaylist({
                jPlayer: "#jquery_jplayer_1",
                cssSelectorAncestor: "#jp_container_1"
            }, [
            <?php
                foreach(glob("public/clip/*.mp3") as $file1) {
                    echo '{';
                    echo '   mp3: "'.$file1.'",';
                    echo '},';
                }
            ?>
            ], {
                swfPath: "{{tpl:BlogThemeURL}}/js",
                supplied: "mp3",
                wmode: "window",
                volume: 1,
                keyEnabled: false,
                loop: true,
                play: function() {
                    $('#audio').css("background", "url('{{tpl:BlogThemeURL}}/img/controls.png') -110px 0 no-repeat");
                    audioPlaying = true;
                },
                playlistOptions: {
                    <tpl:SysIf current_mode="default">
                    autoPlay: true,
                    </tpl:SysIf>
                    shuffleOnLoop: true
                }
            });
            myPlaylist.shuffle(true);
            $('#audio').click(function(){
                if (audioPlaying) {
                    $('#audio').css("background", "url('{{tpl:BlogThemeURL}}/img/controls.png') -80px 0 no-repeat");
                    $("#jquery_jplayer_1").jPlayer("stop");
                    audioPlaying = false;
                } else {
                    $('#audio').css("background", "url('{{tpl:BlogThemeURL}}/img/controls.png') -110px 0 no-repeat");
                    myPlaylist.next();
                    audioPlaying = true;
                }
            });
            </tpl:EntryIf>
            </tpl:EntryIf>
        });
    </script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53009393-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>
</html>
